/* Style by type of element */

body {
  background-color: lightyellow;
}

button {
  padding: 10px;
  margin: 5px;
}

h2 {
  margin-top: 0;
}

/* Style by class names */

.room {
  display: block;;
  padding: 10px;
}

/* Style Specific Id's */

#roomWitch { background-color: Grey; }
#roomA { background-color: Orange ; }
#roomB { background-color: Blue; color: white; }
#roomC { background-color: Yellow ; }
#roomD { background-color: Pink ; }
#roomE { background-color: Brown; color: white; }
#roomF { background-color: Lightgrey ; }
#roomG { background-color: Green ; }
#roomH { background-color: Purple; color: white ; }
#roomM { background-color: Red ; }
